.header {
    /*padding: 25px 0;*/
    height:100px;
    text-align: center;
    background: #222;
  }
  .header img {
    width: 100px;
    height: 30px;
  }
  .headerlinks
  {
    color:red;
    margin-top:-65px; 
    margin-left: 85%
  }
  .headertitle
  {
    margin: auto;

    width: 45%;
    color: red;
    border: 3px solid green;
    padding: 20px;
    font-size: 30px;
    
  }